@model string
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Programmer's Fox Club</title>
</head>
<body>
    <p><a href="/">Information</a></p>
    <p><img src="/images/greenfox.png" /></p>
    <p>This is @Model. Currently living on pizza and lemonade. He knows 2 tricks.</p>
    <p><h1>Known tricks</h1></p>
    <ul>
        <li>write HTML</li>
        <li>code in Java</li>
    </ul>

</body>
</html>