@model FoxClub.Models.Fox
@{
    ViewData["Title"] = "Programmer's Fox Club";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p><a href="/?Name=@Model.Name">Information</a></p>
<p><img src="/images/greenfox.png" /></p>
<p>This is @Model.Name. Currently living on @Model.Food and @Model.Drink. He knows @Model.KnownTricks.Count tricks.</p>
<p><h1>Known tricks</h1></p>

