
@{
    ViewData["Title"] = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to Programmer Fox Club!</h2>
<p>Please provide a name, so you can associate it to your pet!</p>
<form action="/" method="post">
    Name: <input type="text" name="Name" />
    <button type="submit">GO</button>
</form>

