
@{
    ViewData["Title"] = "trickcenter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trick center</h2>
<ul>
    <li><a href="/?Name=@ViewData["Name"]">Information</a></li>
    <li><a href="/nutritionstore?Name=@ViewData["Name"]">Nutrition Center</a></li>
    <li><a href="/trickcenter?Name=@ViewData["Name"]">Trick Center</a></li>
</ul>