
@{
    ViewData["Title"] = "trickcenter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trick center</h2>
<ul>
    <li><a href="/?Name=@ViewData["Name"]">Information</a></li>
    <li><a href="/nutritionstore?Name=@ViewData["Name"]">Nutrition Center</a></li>
    <li><a href="/trickcenter?Name=@ViewData["Name"]">Trick Center</a></li>
</ul>
<p>
    <form action="/Addtrick" method="get">
        Tricks: 
        <input type="hidden" name="Name" value="@ViewData["Name"]" />
        <select name="Trick">
            <option value="Write HTML">Write HTML</option>
            <option value="Draw foxes">Draw foxes</option>
            <option value="Dance hip-hop">Dance hip-hop</option>
        </select>
        <button type="submit">Learn</button>
    </form>
</p>