body{
	background-color: lightgray;
}

form{
	position:relative;
	left: 400px;
	width: 500px;
	background-color: white;
	padding-top: 30px;
	padding-left: 70px;
	padding-bottom: 30px;
}

inputfield{
	display: block;
	margin-bottom: 20px;
	margin-top: 5px;
	padding: 10px 50px 10px 10px;
}

input:focus{
	outline: none;
	border: 1px solid green;
}