@model List<Todo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h1>Todos for the day</h1>
@foreach(var todo in Model)
{
    <ul>
        <li>@todo.Title</li>
    </ul>

}