@model List<Todo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<form action="AddTodo" method="post">
    <div>Title: <input type="text" name="Title" /></div>
    <div>Urgent: <input type="checkbox" name="IsUrgent" value="true"/></div>
    <div>Done: <input type="checkbox" name="IsDone" value="true"/></div>
    <div><button type="submit">Add</button></div>

</form>

<h1>Todos for the day</h1>
@foreach(var todo in Model)
{
    <ul>
        <li>@todo.Title</li>
    </ul>

}