@model Greet.Services.Person
@{
    ViewData["Title"] = "Greeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Greeting</h2>
<h1><span style="background-color:aqua; color:gold">Hello, @Model.Name!</span></h1>

