
@{
    ViewData["Title"] = "AddTodo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add new task</h2>

<form action="/GetTodo" method="post">
    <input type="number" name="ID" />
    <input type="text" name="Text" />
    <input type="date" name="Created" />
    <input type="date" name="Completed" />
    <button type="submit">Add to list</button>
</form>