@model GreetDifferentLanguages.Models.Greetings
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@foreach (string hello in Model.hellos)
{
    <p style="font-size:@Model.GetFontSize()%; color:rgb(@Model.GetColorValue(), @Model.GetColorValue(), @Model.GetColorValue())">@hello</p>
}
