@model List<Post>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/submit">Submit new post</a>

<h2 style="text-align:center">Trending posts</h2>


@foreach(Post post in Model)
{
    <table>
        <tr>
            <td style="font-size:25px; width:70px; text-align:center">@post.Votes</td>
            <td style="font-size:25px; width:50px"><a href="Up/@post.Id">+</a></td>
            <td style="font-size:25px; width:50px"><a href="Down/@post.Id">-</a></td>
            <td style="font-size:25px; width:auto"><a href="@post.Url">@post.Title</a></td>
        </tr>
    </table>

}
