@model List<Post>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<a style="font-size:15px" href="/submit">Submit new post</a>

<h2 style="text-align:center">Trending posts</h2>


@foreach(Post post in Model)
{
    <table>
        <tr>
            <td style="font-size:25px; width:70px; text-align:center">@post.Votes</td>
            <td style="font-size:25px; width:50px"><a class="btn btn-primary" href="Up/@post.Id"><i class="glyphicon glyphicon-plus"></i></a></td>
            <td style="font-size:25px; width:50px"><a class="btn btn-default" href="Down/@post.Id"><i class="glyphicon glyphicon-minus"</a></td>
            <td style="font-size:25px; width:500px"><a href="@post.Url">@post.Title</a></td>
            <td style="font-size:25px; width:auto">@post.PostedAt.Date.ToString("yyyy.MM.dd")</td>
        </tr>
    </table>

}
